{% extends "base.html" %}
{% block title %}
Erreur
{% endblock %}
{% block content %}

<div class="container-fluid text-center pt-3 pb-4">

{% if err == "404" %}
    <h1 class="pt-5">Oups! Il n'y a rien à voir ici! (404)</h1>

    {% if error_message %}
    <small class="text-secondary">{{ error_message }}</small>
</div>
    {% else %}
    <small class="text-secondary">La page que vous recherchez ne semble pas exister.</small>
</div>
    {% endif %}

{% elif err == "400" %}
    <h1 class="pt-5">Votre requête est n'est pas bien formée (400) </h1>
    {%if error_message%}
        <small class="text-secondary">{{ error_message }}</small>
    {% endif %}

</div>
{% elif err == "405" %}

    <h1 class="pt-5">Accès interdit (405)</h1>
    <small class="text-secondary">Vous ne possédez pas les droits pour voir ce contenu!</small>
</div>
{% else %}

    <h1 class="pt-5">Une erreur interne s'est produite Code ({{ error_message }})</h1>
    <small class="text-secondary">L'équipe de développement sera avisée...</small>
</div>
{% endif %}
{% endblock %}