{% extends "base.html" %}

{% block title %}Violation Search{% endblock %}

{% block content %}

<script>
    const is_admin_authenticated = '{{ is_admin_authenticated|tojson }}';
</script>

<div class="container text-center mt-4">
    <h1 class="mb-4">Search for Violations</h1>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <form method="post" action="/" class="form-inline justify-content-center mb-4">
                <div class="form-group mr-2">
                    <select name="search_by" id="search_by" class="form-control">
                        <option value="etablissement">Establishment Name</option>
                        <option value="proprietaire">Owner</option>
                        <option value="adresse">Street</option>
                    </select>
                </div>
                <div class="form-group mx-sm-3">
                    <input type="text" name="search_term" class="form-control" placeholder="Search term" required>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>

            <h2 class="mt-5">Quick Search by Date</h2>
            <form id="quick-search-form" class="form-inline justify-content-center mb-4">
                <div class="form-group mr-2">
                    <input type="date" class="form-control mb-2" id="start-date" required>
                </div>
                <div class="form-group mx-sm-3">
                    <input type="date" class="form-control mb-2" id="end-date" required>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Search</button>
            </form>

            <div id="loading-icon" class="text-center" style="display: none;">
                <img src="/static/loading.gif" alt="Loading..." width="50" height="50">
                <p>Loading...</p>
            </div>

            <table class="table table-hover" id="results-table" style="display: none;">
                <thead>
                    <tr>
                        <th>Etablissement</th>
                        <th>Nombre de Contraventions</th>
                        {% if is_admin_authenticated %}
                            <th>Actions</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody id="results-body">
                </tbody>
            </table>

            <h2 class="mt-5">Quick Search by Restaurant</h2>
            <form id="recherche-nom-restaurant" class="form-inline justify-content-center mb-4">
                <div class="form-group mr-2">
                    <select id="select-restaurant" class="form-control">
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Search</button>
            </form>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div id="affichage-infractions" class="row">
    </div>
</div>

{% endblock %}
