<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Violation Search</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item {{ 'active' if request.path == '/' else '' }}">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item {{ 'active' if request.path == '/doc' else '' }}">
        <a class="nav-link" href="/doc">Docs</a>
      </li>
      <li class="nav-item {{ 'active' if request.path == '/complaint' else '' }}">
        <a class="nav-link" href="/complaint">Complaint</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      {% if is_authenticated %}
      <li class="nav-item {{ 'active' if request.path == '/logout' else '' }}">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      {% else %}
      <li class="nav-item {{ 'active' if request.path == '/create_user_profile' else '' }}">
        <a class="nav-link" href="/create_user_profile">New profile</a>
      </li>
      <li class="nav-item {{ 'active' if request.path == '/login' else '' }}">
        <a class="nav-link" href="/login">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>